@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&display=swap');

:root {
    --color: #1b1d1f;
    --back: #fbf7f1;
}

body {
    background: var(--back);

}



@font-face {
    font-family: 'Eurostile Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Eurostile Regular'), url('font/eurostile.woff') format('woff');
    }
    

    @font-face {
    font-family: 'EuroStyle Normal';
    font-style: normal;
    font-weight: normal;
    src: local('EuroStyle Normal'), url('font/EuroStyle Normal.woff') format('woff');
    }

html {
    
}

h1.disco {
    color: var(--color);
    font-family: "Lora", serif;
    margin: 30px;
    font-size: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.circle {
    position: relative;
    width: 150px;
    height: 150px;
    background: var(--color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    margin: 30px;
    margin-top: 120%;
}

.text {
    animation: anim 20s linear infinite;
}

@keyframes anim{
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.text {
    width: 100%;
    height: 100%;
    position: absolute;
    color: var(--back);
}

.text span {
    position: absolute;
    left: 50%;
    font-size: 1em;
    transform-origin: 0 75px;
}

.screen1, .screen2 {
    height: 100vh;
}

.click {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    z-index: 999;
}

.img {
    color: var(--back);
    display: block;
    width: 30%;
    margin: auto;
    margin-left: 55px;
}

.list {
    display: block;
    color: var(--back);
    font-family: 'Eurostile Regular';
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--color);
    font-size: 50px;
    text-align: right;
    margin: 15px;
    position: relative;
    top: 30%;

    color: var(--back);
}

a {
    text-decoration: none;
    color: var(--back);
}

.list-content {
    margin-top: 20px;
}

h1.what {
    color: var(--color);
    font-family: "Lora", serif;
    margin: 30px;
    font-size: 3rem;
    margin-top: 100px;
}